@using Microsoft.AspNetCore.Identity



@model TImeManagement.ViewModels.Account.ChangePasswordViewModel

<form method="post" id="changePasswordForm">
        <div class="form-group col-md-12">
            <input asp-for="@Model.Login" value="@User.Identity.Name" hidden="hidden">
        </div>
        <div class="form-group col-md-12">
            <label class="col-form-label">Старый пароль</label>
            <input asp-for="@Model.OldPassword" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label class="col-form-label">Новый пароль</label>
            <input  class="form-control" asp-for="@Model.NewPassword"/>
        </div>

        <div class="form-group col-md-12">
            <label class="col-form-label">Подтвердите новый пароль</label>
            <input asp-for="@Model.NewPasswordConfirm"  class="form-control">
        </div>
        <div class="modal-footer">
             <button class="btn btn-primary" asp-controller="Account" asp-action="ChangePassWord" type="submit">Сменить пароль</button>
        </div>
</form>



